/* */
.myErrorDecoration {
	background-color: rgba(255, 0, 0, 0.3); /* エラー背景色 */
}
.myErrorDecorationInline {
	text-decoration: underline wavy red; /* 波線を追加 */
}
.myErrorGlyphMargin {
	background: red;
	width: 5px;
	height: 5px;
	border-radius: 50%;
}
