.myErrorDecoration {
	 /* background-color: rgba(255, 0, 0, 0.3); */
	@apply bg-red-500 bg-opacity-30; /* エラー背景色 */
}
.myErrorDecorationInline {
	/* text-decoration: underline wavy red; */
	@apply underline decoration-wavy decoration-red-500; /* 波線を追加 */

}
.myErrorGlyphMargin {
	/* background: red;
	width: 5px;
	height: 5px;
	border-radius: 50%; */
	@apply bg-red-500 w-1 h-1 rounded-full;
}

.btnbase {
	@apply bg-gray-100 hover:bg-gray-300 text-gray-900 font-normal text-sm py-0 px-1 border border-gray-500 rounded shadow;
}
button[type="button"] {
	@apply btnbase;
}

.editorBoarder {
	@apply border-2 border-gray-300 rounded transition-colors duration-200 ease-in-out;
}
